main{
    text-align: center;
}
div{
    text-align: left;

}
#mitborder{
    border: 1px solid #000000;
}
#profilbild{
    width: 100%;
    height: auto;
}
#hundkatze{
    width: 60em;
    height:20em;
}
#rechts{
    text-align: right;
}
#socialmedia{
    width: 3em;
    height: 3em;
}
