#background{

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
main{
    text-align: center;
}
div{
    text-align: left;

}
#mitborder{
    border: 1px solid #000000;
    background-color: #FFFFFF;
}
#profilbild{
    width: 100%;
    height: 100%;
}
#animal{
    width: 100%;
    height:100%;
}
#rechts{
    text-align: right;
}
#socialmedia{
    width: 3em;
    height: 3em;
}
li{
        color: #000000 !important;
}
#weiß
{
    color: #FFFFFF;
}
#hunderassen{
    width: 100%;
    height:20em;
}
a{
    color: white;
}
