header{

}

background
{

       background-repeat: no-repeat;
       background-position: center center;
       background-size: cover;
       width: 100%;

}
#carousel-screenshots
{
    margin: 5em;
}
#blog
 {
align-content: center;
justify-content: center;
background-color: white;
}
#blog > img
{
    width:50%;
}

/* .container-karusel
{
    background-color: #D8B5FF; */
}
.container-blog
{
    background-color: #F1EAB9;
}

/* .jumbotron-text-center
{
    background-color: #DE8BB5FF;
    width: auto; */
/* } */
#hunderassen
{
    width: 100%;
    height:20em;
}
.box {

    width: 50px;
    height: 50px;
    transition: transform 300ms ease-in-out;
    pointer-events: none;
}
.trigger {
    width: 50px;
    height: 50px;
    border: 20px solid #999;
    background: #ddd;
    border-radius: 100px;

    op

}
.trigger:hover .box
/**.trigger.clicked .box**/
{

    transform: translate(200px, 150px) rotate(20deg);
    background-color: pink;
}
.nav-item:hover
{
    font-size:175%;
}
li , a
{
    color: white;
}
#navi-home
{
    border-bottom: 2px;
    border-color: white;
}
/* footer */
{
    background-color: black;
    display:inline-flex;
    list-style-type: none;
}
button
{
    text-align:  center;
}
img > .d-block
{
    border: 20px;
    border-style: solid;
}
#versteckt
{
    width: 50px;
    height: 50px;
    background-color: white;
}
.footer  li
{
    display: inline; /* li nebeneinander anzeigen */
    list-style-type: none; /* ohne Aufzählungspunkte */
}
.blogbild
{
    padding: 1em;
}
#fusszeile , #filter , #navi
{
    background-color: black;
}
/* .anima
{
    width: 100px;
    height:100px;
    background-color: red;
    position: relative;
    margin: 50px;
    display: inline-block;

} */
.anima:after, .anima:before
{
    content:"";
    display: block;
    width:5em;
    height:5em;
    border-radius: 50%;
}
.rotieren:after
{
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  animation: spinny 1s linear infinite;
}
@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
