button
{
    position: relative;
    display: inline-flex;
}
a , .navi-home
{
    color: white;
}

#background
{
       background-repeat: no-repeat;
       background-position: center center;
       background-size: cover;
       width: 100%;
       height: 100%;
}
#carousel-screenshots
{
    margin: 5em;
}
#blog
{
align-content: center;
justify-content: center;
background-color: white;
}
#blog > img
{
    width:50%;
}
#navi-home
{
    border-bottom: 2px;
    border-color: white;
}
#navigation , #navi
{
    background-color: black;
}
.row
{
    margin: 0;
    width: 100%;
    height:100%;
}
.box {

    width: 50px;
    height: 50px;
    transition: transform 300ms ease-in-out;
    pointer-events: none;
    /* display: none; */
}

.col-sm-3
{
    text-align: center;
}

.trigger:hover .box
{
    transform: translate(200px, 150px) rotate(20deg);
}
.nav-link:hover
{
    font-size:175%;
}

.img-fluid
{
    border: 20px solid #999;
    border-radius: 120px;

}

.anima:after, .anima:before
{
    content:"";
    display: block;
    width:5em;
    height:5em;
    border-radius: 50%;
}
.rotieren:after
{
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  animation: spinny 5s linear infinite;

}

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@media screen (min-width:800px){
    body
    {
        display: none;
        background-color: red;
    }

}
