
/* Button auf einer Line */
button
{
    position: relative;
    display: inline-flex;
}


/* Hintergrundbild über den ganzen Bildschirm */
#background
{
       background-repeat: no-repeat;
       background-position: center center;
       background-size: cover;
       width: 100%;
       height: 100%;
}
/* Abstand der Sliderbilder */
#carousel-screenshots
{
    margin: 5em;
}
/* Mittelers Elemnt der Blog-Einträge */
#blog
{
align-content: center;
justify-content: center;
background-color: white;
}
/* Größen Anpassung der Blog-Bilder */
#blog > img
{
    width:50%;
}
.row
{
    margin: 0;
    width: 100%;
    height:100%;
}

/* Ausrichtung der Elemente  */
.col-sm-3
{
    text-align: center;
}
/* Rahmen der Blog-Bilder */
.img-fluid
{
    border: 20px solid #999;
    border-radius: 120px;
    margin-top: 1em;

}
/* Form der Animation */
.anima:after, .anima:before
{
    content:"";
    display: block;
    width:5em;
    height:5em;
    border-radius: 50%;
}
/* Geschwindigkeit und Abfolge der Animation */
.rotieren:after
{
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  animation: spinny 5s linear infinite;

}

@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
/* Verbergen des Sliders bei bestimmter Displaygröße  */
@media (max-width: 1000px){
    #kar
    {
        display: none;


    }
}
