#mitBorder{
    border: 1px solid;
}
#mitBorder div{

}
button{
    background-color: #008CBA;
}
#suche {
	width: 5em;
	border: 2px solid;
	border-radius: 0.5em;
	font-size: 1em;
	transition: width 0.5s ease-in-out;
}

#suche:focus {
	font-size: 1.2em;
	width: 35%;
}

h3{
    color: #008CBA;
}
