#mitBorder{
    border: 1px solid;
}

button{
    background-color: #000000;
}
#f{
    width: 100%;
    height: 100%;
}
#suche {
	width: 3em;
	border: 1px solid;
	border-radius: 0.5em;
	font-size: 1em;
	transition: width 0.5s ease-in-out;
}

#suche:focus {
	font-size: 1.2em;
	width: 35%;
}

h3{
    color: #008CBA;
}

#hundkatze{
    width: 100%;
    height:10em;
}
